## 1. Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [ ]:
import re
string_text = 'Python Exercises, PHP exercises.'
print(re.sub("[ ,.]", ":", string_text))

Python:Exercises::PHP:exercises:

## 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

In [ ]:
import pandas as pd

data = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

df = pd.DataFrame(data)

df['SUMMARY'] = df['SUMMARY'].str.replace('[^a-zA-Z\s]', '', regex=True)

print(df)

         SUMMARY
0    hello world
1     XXXXX test
2  four five six

## Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [ ]:
import re
def find_words(string):
  pattern = re.compile(r"\b\w{4,}\b")
  matches = pattern.findall(string)
  return matches

string = "This is a Data Science program traning class work with function regex."
result = find_words(string)

print(result)

['This', 'Data', 'Science', 'program', 'traning', 'class', 'work', 'with', 'function', 'regex']

## Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [ ]:
import re
def find_words(string):
  pattern = re.compile(r"\b\w{3,5}\b")
  matches = pattern.findall(string)
  return matches

string = "This is a Data Science program traning class work with function regex."
result = find_words(string)

print(result)

['This', 'Data', 'class', 'work', 'with', 'regex']

## Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

In [ ]:
import re

items = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
for item in items:
    pattern = re.compile(r'[()]')

    print(re.sub(pattern, "", item))

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

## Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

In [ ]:
import re

items = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
for item in items:
    pattern = re.compile(r"\s*\([^)]*\)")

    print(re.sub(pattern, "", item))

example
hr@fliprobo
github
Hello
Data

## Question 7- Write a regular expression in Python to split a string into uppercase letters.

In [ ]:
text= "ImportanceOfRegularExpressionsInPython"

print(re.findall('[A-Z][^A-Z]*', text))

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

## Question 8- Create a function in python to insert spaces between words starting with numbers.

In [ ]:
items = "RegularExpression1IsAn2ImportantTopic3InPython"

pattern = re.compile(r'(\d+)([A-Za-z]+)')

print(re.sub(pattern, r' \1\2', items))

RegularExpression 1IsAn 2ImportantTopic 3InPython

## Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.

In [ ]:
items = "RegularExpression1IsAn2ImportantTopic3InPython"

pattern = re.compile(r'(\d+)([A-Za-z]+)')

print(re.sub(pattern, r' \1 \2', items))

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

## Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

In [ ]:
import pandas as pd

url  = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df = pd.read_csv(url)


df['first_five_letters'] = df['Country'].apply(lambda x: x[:6])
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

## Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [ ]:

def text_match(text):
        patterns = '^[a-zA-Z0-9_]*$'
        if re.search(patterns,  text):
                return 'Found a match!'
        else:
                return('Not matched!')

print(text_match("This is a Data Science program traning class work with function regex."))
print(text_match("This_is_a_Data_Science_program_traning_class_Python_Exercises_247"))

Not matched!
Found a match!

## Question 12- Write a Python program where a string will start with a specific number.

In [ ]:
def check_start_number(string,number):
  if string.startswith(str(number)):
     return True
  else:
     return False


string = "123456abcmnmsbnv,snv,xdn,vs"
number1 = 123456

if check_start_number(string,number1):
  print("The string starts with the specific number.")
else:
  print("The string doesnot start with specific number.")

The string starts with the specific number.

## Question 13- Write a Python program to remove leading zeros from an IP address

In [ ]:
ip = "206.008.0094.00196"
string = re.sub('\.[0]*', '.', ip)
print(string)

206.8.94.196

## Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

In [ ]:
item = 'On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country.'

pattern = r'\b[A-Z][a-z]+ \d{1,2}(?:st|nd|rd|th)? \d{4}\b'
pattern1 = r'\d{4}-\d{2}-\d{2}'

matches = re.findall(pattern, item)
print(matches)

['August 15th 1947']

## Question 15- Write a Python program to search some literals strings in a string.

In [ ]:

text = 'The quick brown fox jumps over the lazy dog.'
patterns = [ 'fox', 'dog', 'horse' ]
for pattern in patterns:
    print('Searching for "%s" in "%s" ->' % (pattern, text),)
    if re.search(pattern,  text):
        print('Matched found!')
    else:
        print('Not matched found!')

Searching for "fox" in "The quick brown fox jumps over the lazy dog." ->
Matched found!
Searching for "dog" in "The quick brown fox jumps over the lazy dog." ->
Matched found!
Searching for "horse" in "The quick brown fox jumps over the lazy dog." ->
Not matched found!

## Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

In [ ]:
text = 'The quick brown fox jumps over the lazy dog.'
pattern = 'fox'
match = re.search(pattern, text)
s1 = match.start()
e1 = match.end()
print('Found "%s" in "%s" from %d to %d ' % \
 (match.re.pattern, match.string, s1, e1))

Found "fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

## Question 17- Write a Python program to find the substrings within a string.

In [ ]:
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.findall(pattern, text):
    print('Found "%s"' % match)

Found "exercises"
Found "exercises"
Found "exercises"

## Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [ ]:
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.finditer(pattern, text):
    s = match.start()
    e = match.end()
    print('Found "%s" at %d:%d' % (text[s:e], s, e))

Found "exercises" at 7:16
Found "exercises" at 22:31
Found "exercises" at 36:45

## Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [ ]:
def change_date_format(dt):
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', dt)
dt1 = "2021-05-20"
print("Original date is YYY-MM-DD Format: ",dt1)
print("New date is DD-MM-YYYY Format: ",change_date_format(dt1))

Original date is YYY-MM-DD Format:  2021-05-20
New date is DD-MM-YYYY Format:  20-05-2021

## Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

In [ ]:
items = '01.12 0132.123 2.31875 145.8 3.01 27.25 0.25'

pattern = re.compile(r'\d+\.\d{1,2}')

print(re.findall(pattern, items))

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

## Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [ ]:
text = "On August 15th 1947 that India was declared independent from British colonialism 247, and the reins of control were handed over to the leaders of the Country."

for m in re.finditer("\d+", text):
    print(m.group(0))
    print("Index position:", m.start())

15
Index position: 10
1947
Index position: 15
247
Index position: 81

## Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

In [ ]:
string = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

numeric_values = re.findall(r'\d+', string)
numeric_values = [int(value) for value in numeric_values]

max_value = max(numeric_values)

print(max_value)

950

## Question 23- Create a function in python to insert spaces between words starting with capital letters.

In [ ]:
items = 'RegularExpressionIsAnImportantTopicInPython'

pattern = re.compile(r'(\w)([A-Z])')

print(re.sub(pattern,r'\1 \2', items))

Regular Expression Is An Important Topic In Python

## Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [ ]:
def text_match_fun(text):
        patterns = '[A-Z]+[a-z]+$'
        if re.search(patterns, text):
                return 'Found a text match!'
        else:
                return('Not text matched!')

print(text_match_fun("Program"))
print(text_match_fun("Training new"))
print(text_match_fun("ALL"))
print(text_match_fun("DaTa"))
print(text_match_fun("Sa"))
print(text_match_fun("aS"))

Found a text match!
Not text matched!
Not text matched!
Found a text match!
Found a text match!
Not text matched!

## Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

In [ ]:
items = 'Hello hello world world'

pattern = re.compile(r'\b(\w+)(\s+\1\b)+')

print(re.sub(pattern,r'\1', items))

Hello hello world

## Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [ ]:
regex = '[a-zA-z0-9]$'

def check_string(string):

     # pass the regular expression
     # and the string in search() method
    if(re.search(regex, string)):
        print("Accept the string")

    else:
        print("Discard the string")

print(check_string("Sumit"))
print(check_string("Sumit@"))
print(check_string("Sumit1234"))

Accept the string
None
Discard the string
None
Accept the string
None

## Question 27-Write a python program using RegEx to extract the hashtags.

In [ ]:
items = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

pattern = re.compile(r'#\w+')

print(re.findall(pattern, items))

['#Doltiwal', '#xyzabc', '#Demonetization']

Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

In [ ]:
items = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

pattern = re.compile(r"<U\+\w{4}>")

print(re.sub(pattern, "", items))

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

## Question 29- Write a python program to extract dates from the text stored in the text file.

In [ ]:
items = "Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."

pattern = re.compile(r'\d{2}-\d{2}-\d{4}')

print(re.findall(pattern, items))

['12-09-1992', '15-12-1999']

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.The use of the re.compile() method is mandatory.

In [ ]:
items = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

pattern = re.compile(r'\b\w{2,4}\b')

print(re.sub(pattern, '',items))

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.