In [1]:
!pip install selenium

Collecting selenium
  Using cached selenium-4.24.0-py3-none-any.whl.metadata (7.1 kB)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\sumit\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.0.7)
Collecting trio~=0.17 (from selenium)
  Using cached trio-0.26.2-py3-none-any.whl.metadata (8.6 kB)
Collecting trio-websocket~=0.9 (from selenium)
  Using cached trio_websocket-0.11.1-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sumit\anaconda3\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\sumit\anaconda3\lib\site-packages (from selenium) (4.9.0)
Collecting websocket-client~=1.8 (from selenium)
  Using cached websocket_client-1.8.0-py3-none-any.whl.metadata (8.0 kB)
Collecting attrs>=23.2.0 (from trio~=0.17->selenium)
  Using cached attrs-24.2.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: sortedcontainers in c:\users\sumit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\sumit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Collecting outcome (from trio~=0.17->selenium)
  Using cached outcome-1.3.0.post0-py2.py3-none-any.whl.metadata (2.6 kB)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\sumit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\sumit\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Collecting wsproto>=0.14 (from trio-websocket~=0.9->selenium)
  Using cached wsproto-1.2.0-py3-none-any.whl.metadata (5.6 kB)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sumit\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sumit\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting h11<1,>=0.9.0 (from wsproto>=0.14->trio-websocket~=0.9->selenium)
  Using cached h11-0.14.0-py3-none-any.whl.metadata (8.2 kB)
Using cached selenium-4.24.0-py3-none-any.whl (9.6 MB)
Using cached trio-0.26.2-py3-none-any.whl (475 kB)
Using cached trio_websocket-0.11.1-py3-none-any.whl (17 kB)
Using cached websocket_client-1.8.0-py3-none-any.whl (58 kB)
Using cached attrs-24.2.0-py3-none-any.whl (63 kB)
Using cached wsproto-1.2.0-py3-none-any.whl (24 kB)
Using cached outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Using cached h11-0.14.0-py3-none-any.whl (58 kB)
Installing collected packages: websocket-client, h11, attrs, wsproto, outcome, trio, trio-websocket, selenium
  Attempting uninstall: websocket-client
    Found existing installation: websocket-client 0.58.0
    Uninstalling websocket-client-0.58.0:
      Successfully uninstalled websocket-client-0.58.0
  Attempting uninstall: attrs
    Found existing installation: attrs 23.1.0
    Uninstalling attrs-23.1.0:
      Successfully uninstalled attrs-23.1.0
Successfully installed attrs-24.2.0 h11-0.14.0 outcome-1.3.0.post0 selenium-4.24.0 trio-0.26.2 trio-websocket-0.11.1 websocket-client-1.8.0 wsproto-1.2.0

In [23]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
import warnings 
warnings.filterwarnings('ignore')
import time

In [24]:
driver = webdriver.Chrome()

In [60]:
driver.get("https://www.naukri.com/")

In [61]:
designation = driver.find_element(By.CLASS_NAME ,"suggestor-input")
designation.send_keys('Data Scientist')

In [64]:
location = driver.find_element(By.XPATH , "/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi/NCR')

In [65]:
search = driver.find_element(By.CLASS_NAME , "qsbSubmit")
search.click()

In [66]:
job_title = []
job_location=[]
company_name = []
experience =[]

In [101]:
title_tags = driver.find_elements(By.XPATH , '//a[@class="title "]')
for i in title_tags:
     title =i.get_attribute('title')
     job_title.append(title)

# for i in title_tags[0:10]:
#     print(i.get_attribute('title'))

print(len(job_title))   

lcoation_tags = driver.find_elements(By.XPATH , '//span[@class="locWdth"]')
for i in lcoation_tags[0:10]:
     title =i.get_attribute('title')
     job_location.append(title)

print(len(job_location))   

# for i in lcoation_tags[0:10]:
#     print(i.get_attribute('title'))

# print(len(job_title)) 

comopany_tags = driver.find_elements(By.XPATH , '//a[@class=" comp-name mw-25"]')
for i in comopany_tags[0:10]:
     title =i.get_attribute('title')
     company_name.append(title)
    
print(len(company_name))   

# for i in comopany_tags[0:10]:
#     print(i.get_attribute('title'))

experience_tags = driver.find_elements(By.XPATH , '//span[@class="expwdth"]')
for i in experience_tags[0:10]:
     title =i.get_attribute('title')
     experience.append(title)
    
print(len(experience))

411
310
162
190

In [107]:
print(len(job_title) ,len(job_location),len(company_name),len(experience))

411 310 162 190

In [105]:
a = {'Title':job_title , 'Location' :job_location , 'Company' : company_name,'Experience' :experience}
df = pd.DataFrame.from_dict(a, orient='index')
df = df.transpose()
df

,Title,Location,Company,Experience
0,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Nityo Infotech,3-7 Yrs
1,Data Scientist: Artificial Intelligence,Gurugram,IBM,3-7 Yrs
2,Data Scientist (AI/ML)|| US Based MNC || Noida,Hybrid - Noida,Biz Tech Consultants,3-5 Yrs
3,Data Analyst,"Kolkata(Minto Park), Papua New Guinea",Biz Tech Consultants,10-20 Yrs
4,Snowflake Data Engineer,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Biz Tech Consultants,2-6 Yrs
...,...,...,...,...
406,Data Scientist,None,None,None
407,Data Scientist,None,None,None
408,Data Scientist,None,None,None
409,Data Scientist,None,None,None
410,Data Scientist- LLM/NLP,None,None,None

In [36]:
driver.get("https://www.shine.com/")

In [38]:
designation = driver.find_element(By.CLASS_NAME ,"input")
designation.send_keys('Data Analyst')

In [39]:
search = driver.find_element(By.CLASS_NAME , "iconH-zoom-white")
search.click()

In [46]:
designation = driver.find_element(By.CLASS_NAME ,"form-control")
designation.send_keys('Data Analyst')

In [52]:
designation = driver.find_element(By.CLASS_NAME ,"form-control")
designation.send_keys('Bangalore')

In [56]:
job_title = []
job_location=[]
company_name = []
experience =[]

title_tags = driver.find_elements(By.XPATH , '//a[@href="/jobs/senior-cost-consultant/teamwork-cables-private-limited/15702663"]')
for i in title_tags:
     title =i.text
     job_title.append(title)

print(len(job_title))   

lcoation_tags = driver.find_elements(By.XPATH , '//div[@class="jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in lcoation_tags:
     title =i.text
     job_location.append(title)

print(len(job_location))   

comopany_tags = driver.find_elements(By.XPATH , '//div[@class="jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in comopany_tags:
     title =i.text
     company_name.append(title)
print(len(company_name))   

experience_tags = driver.find_elements(By.XPATH , '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
     title =i.text
     experience.append(title)

print(len(experience))

3
2
2
2

In [57]:
a ={'Title':job_title , 'Location' :job_location , 'Company' : company_name,'Experience' :experience}
df = pd.DataFrame.from_dict(a, orient='index')
df = df.transpose()
df

                    Title        Location         Company   Experience
0                          Argentina\n+12  Argentina\n+12   6 to 8 Yrs
1  Senior Cost Consultant  Argentina\n+18  Argentina\n+18  5 to 10 Yrs
2  Senior Cost Consultant            None            None         None

In [136]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [137]:
rating =[]
review_sum=[]
full_review=[]

In [125]:
start=0
end=10

for page in range(start,end):
    review = driver.find_elements(By.XPATH , '//div[@class="XQDdHH Ga3i8K"]')
    for i in review:
        rating.append(i.text)
    next_button= driver.find_element(By.XPATH , '//a[@class="_9QVEpD"]')
    next_button.click()
    time.sleep(3)

In [126]:
len(rating)

100

In [131]:
start=0
end=10

for page in range(start,end):
    review = driver.find_elements(By.XPATH , '//p[@class="z9E0IG"]')
    for i in review:
        review_sum.append(i.text)
    next_button= driver.find_element(By.XPATH , '//a[@class="_9QVEpD"]')
    next_button.click()
    time.sleep(3)

In [132]:
len(review_sum)

100

In [138]:
start=0
end=10

for page in range(start,end):
    review = driver.find_elements(By.XPATH , '//div[@class="ZmyHeo"]')
    for i in review:
        full_review.append(i.text)
    next_button= driver.find_element(By.XPATH , '//a[@class="_9QVEpD"]')
    next_button.click()
    time.sleep(3)

len(full_review)

100

In [159]:
driver.get("https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off")

In [155]:
brand =[]
pro_dec=[]
price=[]

In [141]:
start=0
end=3

for page in range(start,end):
    review = driver.find_elements(By.XPATH , '//div[@class="syl9yP"]')
    for i in review:
        brand.append(i.text)
    next_button= driver.find_element(By.XPATH , '//a[@class="_9QVEpD"]')
    next_button.click()
    time.sleep(3)

len(brand)

120

In [160]:
start=0
end=4

for page in range(start,end):
    review = driver.find_elements(By.XPATH , '//a[@class="WKTcLC"]')
    for i in review:
        pro_dec.append(i.text)
    next_button= driver.find_element(By.XPATH , '//a[@class="_9QVEpD"]')
    next_button.click()
    time.sleep(3)

len(pro_dec)

187

In [156]:

start=0
end=3

for page in range(start,end):
    review = driver.find_elements(By.XPATH , '//div[@class="Nx9bqj"]')
    for i in review:
        price.append(i.text)
    next_button= driver.find_element(By.XPATH , '//a[@class="_9QVEpD"]')
    next_button.click()
    time.sleep(3)

len(price)

120

In [161]:
driver.get(" https://www.amazon.in/")

In [163]:
designation = driver.find_element(By.XPATH ,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
designation.send_keys('Laptop')

In [164]:
search = driver.find_element(By.XPATH , "/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [165]:
title =[]
rating= []
price = []

In [170]:


title_tags = driver.find_elements(By.XPATH , '//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
     title1 =i.text
     title.append(title1)
    
print(len(title))

10

In [171]:

rating_tags = driver.find_elements(By.XPATH , '//span[@class="a-icon-alt"]')
for i in title_tags[0:10]:
     title1 =i.text
     rating.append(title1)
    
print(len(rating))

10

In [172]:

price_tags = driver.find_elements(By.XPATH , '//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
     title1 =i.text
     price.append(title1)
    
print(len(price))

10

In [219]:
driver.get("https://www.azquotes.com/")

In [220]:
search = driver.find_element(By.XPATH , "/html/body/div[1]/div[2]/div[1]/div/div[3]/ul/li[5]/a")
search.click()

In [221]:
title =[]
author= []
type_quote = []

In [222]:

start=0
end=9

for page in range(start,end):
    review = driver.find_elements(By.XPATH , '//a[@class="title"]')
    for i in review:
        title.append(i.text)
    next_button= driver.find_element(By.XPATH , '//li[@class="next"]')
    next_button.click()
    time.sleep(3)

len(title)

900

In [203]:
start=0
end=9

for page in range(start,end):
    review = driver.find_elements(By.XPATH , '//div[@class="author"]')
    for i in review:
        author.append(i.text)
    next_button= driver.find_element(By.XPATH , '//li[@class="next"]')
    next_button.click()
    time.sleep(3)

len(author)

900

In [207]:
start=0
end=9

for page in range(start,end):
    review = driver.find_elements(By.XPATH , '//div[@class="tags"]')
    for i in review:
        type_quote.append(i.text)
    next_button= driver.find_element(By.XPATH , '//li[@class="next"]')
    next_button.click()
    time.sleep(3)

len(type_quote)

900

In [25]:
driver.get(" https://www.jagranjosh.com/general-knowledge/list-ofall-prime-ministers-of-india-1473165149-1")

In [26]:
name=[]
born_dead= []
term_of_office= []
remarks =[]

In [29]:
data = []

table = driver.find_element(By.XPATH , '//table[@dir="ltr"]')
rows = table.find_elements(By.TAG_NAME ,'tr')

# print(len(rows))
for row in rows:
    cols = row.find_elements(By.TAG_NAME ,'td')
    # print(len(cols))
    if len(cols) == 4:
      name = cols[0].text
      born_dead = cols[1].text
      term_of_office = cols[2].text
      remarks = cols[3].text
      data.append([name, born_dead, term_of_office, remarks])

print(len(name),len(born_dead),len(term_of_office),len(remarks))

0 0 0 0

In [7]:
df = pd.DataFrame(data, columns=[{'Name':name, 'Born-Dead':born_dead, 'Term of Office':term_of_office, 'Remarks':remarks}])
df

TypeError: unhashable type: 'dict'

Empty DataFrame
Columns: [{'Name': [], 'Born-Dead': [], 'Term of Office': [], 'Remarks': []}]
Index: []

In [16]:
driver.get("https://www.motor1.com/")

In [18]:
designation = driver.find_element(By.XPATH ,"/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/input")
designation.send_keys('50 most expensive cars')

In [19]:
search = driver.find_element(By.XPATH , "/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/button[1]")
search.click()

In [20]:
search = driver.find_element(By.XPATH , "/html/body/div[9]/div[6]/form/input[2]")
search.click()

In [22]:
car_names = driver.find_elements(By.XPATH , '//div[@class="article-content"]/h3')
car_prices = driver.find_elements(By.XPATH , '/div[@class="article-content"]/p')

data = []
for name, price in zip(car_names, car_prices):
  data.append([name.text, price.text])

df = pd.DataFrame(data, columns=['Car Name', 'Price'])
print(df)

Empty DataFrame
Columns: [Car Name, Price]
Index: []